body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  .cards {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    .card {
      text-align: center;
      width: 400px;
      height: 600px;
      border: 3px #fafafa solid;
      box-shadow: 0px 0px 6px 0px;
      .name {
        margin-top: 100px;
        font-size: 51px;
      }
      .text {
        font-size: 28px;
        margin-top: 30px;
      }
      .balance {
        margin-top: 10px;
        font-size: 25px;
      }
      .input {
        margin-top: 30px;
      }
      .warning {
        font-size: 20px;
        color: red;
      }
      .button {
        margin-top: 60px;
      }
    }
  }
}
