body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  .contentCard {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      margin-top: 30px;
      .price {
        margin-left: 130px;
        font-size: 19px;
      }
    }
  }
}

.logo {
  color: #ffffff;
}

.basket {
  color: #ffffff;
  padding: 1px 13px;
  text-align: center;
}
